*{
    box-sizing: border-box;
    color: white;
}
body{
    margin: 0;
    background: rgba(17, 17, 17, 1);
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
}
a{
    text-decoration: none;
}
ul.line{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.col{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}
.spaceBetween li{
    margin-bottom: 15px;
}

.main-head{
    min-height: 974px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url("../img/mainImg.png");
    background-size: cover;
}
.main--header{
    padding-top: calc(1% - 0.69em);
    max-width: 74%;
    margin: auto;
}
.--header-content{
    margin: auto;
}
.--header---item{
    float: left;
}
.--header---item a{
    display: block;
    text-align: center;
    padding: 16px;
}
.--header---item.instagram{
    margin-right: 26px;
}
.--header---item.last{
    margin-left: 26px;
    padding-top: 10px;
}
.close{
    font-size: 35px;
}

.gg-instagram {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px
}
.gg-instagram::after, .gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}
.gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}

.h1{
    font-style: normal;
    font-weight: 700;
    font-size: 2.1em;
    line-height: 2.1em;
    text-align: center;
    max-width: 33%;
    margin: auto;
    margin-top: 16.9%;
}
h1{
    margin: 0;
}

.service-textwrap{
    margin: auto;
    margin-bottom: 94px;
    max-width: 50%;
}
.--quoter{
    margin-bottom: 20px;
    margin-top: 21%;
    text-align: center;
    font-size: 13em;
}
.service--text{
    font-weight: 700;
    font-size: 27px;
    line-height: 130%;
    text-align: center;
    margin-top: 0;
}

#service_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: calc(1% - 0.69em);
    max-width: 74%;
    margin: auto;
}
.service_item{
    margin-bottom: 78px;
    position: relative;
    z-index: 1;
}
.service_img{
    --size: 372px;
    --aspect-ratio: 1.32;
    width: var(--size);
    height: calc(var(--size) / var(--aspect-ratio));
    position: relative;
    z-index: 1;
}
.gold-box{
    position: absolute;
    z-index: 0;
    bottom: 78px;
    left: 17px;
    border: 1px solid rgba(205, 170, 125, 1);
    --size: 372px;
    --aspect-ratio: 1.32;
    width: var(--size);
    height: calc(var(--size) / var(--aspect-ratio));
}
.item_p{
    font-size: 28px;
    font-weight: 400;
}

.sponsors-wrap{
    padding-top: calc(5% - 0.69em);
    max-width: 74%;
    margin: auto;
}
.sponsors--container li:nth-child(1){
    padding-left: 3%;
}
.sponsors--container li:nth-child(2){
    padding-left: 5%;
}

.galary{
    margin-top: calc(4% - 6px);
}
.galary-textwrap{
    padding-top: calc(5% - 0.69em);
    max-width: 74%;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}
h2{
    font-size: calc(3em - 2px);
}
.galary--container{
    padding-top: calc(5% - 0.29em);
    max-width: 56%;
    margin: auto;
    font-size: 24px;
}
.--select{
    position: relative;
    cursor: pointer;
}
.active{
    color: rgba(205, 170, 125, 1);
}
.active::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: rgba(205, 170, 125, 1);
}

.galary-photo{
    max-width: 74%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 66px;
}
.photo-container{
    --size: 400px;
    width: var(--size);
    height: var(--size);
    overflow: hidden;
    margin-bottom: 17px;
    object-fit: contain;
    object-position: center;
}
.photo{
    --size: 395px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    object-position: top;
}
@media screen and (max-width: 1621px) {
    .photo-container{
        --size: 385px;
    }
    .photo{
        --size: 385px;
    }
}

.footer-wrap::before{
    content: "";
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    position: absolute;
    top: 0;
}
.footer-wrap::after{
    content: "";
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    position: absolute;
    bottom: 0;
}
h3{
    font-size: 24px;
}
.footer-wrap{
    padding-top: 54px;
    max-width: 74%;
    margin: auto;
    display: flex;
    position: relative;
    padding-bottom: 55px;
    margin-bottom: 85px;
}
.footer--logo{
    flex: 1;
}
.footer--logo img{
    margin-top: 24px;
    margin-left: 11px;
    height: 3em;
}
.--contact{
    flex: 4;
    display: flex;
    justify-content: space-between;
}
i.bigger{
    width: 35px;
    height: 35px;
    border-radius: 7px;
    border: 4px solid transparent;
}
i.bigger::before{
    border-radius: 3px;
    width: 5px;
    height: 5px;
    right: 0;
    top: 0;
}
i.bigger::after{
    left: 3px;
    width: 18px;
    height: 18px;
    top: 6px
}